* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
body{
     .header{ 
           a:hover{
            color: brown;
            font-weight: bold;
        
           }
        
    }
}
}
footer{
    .footer{
        text-align: right;
        margin: 0 auto;
        width: 400px;


    }
    nav{
        li{
            .fa-whatsapp{
                color: green;
            }
        }
    }
}

ul {

    padding: 15px;

}

li {
    display: inline;

}

